.input_container ul {
	width: 184px;
	/*border: 1px solid #eaeaea;*/
	position: absolute;
	z-index: 9;
	background: #c4ffc4;
	list-style: none; margin-left:0;
}
.input_container ul li {
	padding: 2px; cursor:pointer;
}
.input_container ul li:hover {
	background: #eaeaea;
}
#country_list_id {
	display: none;
}